* {
	outline: 1px solid red !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.app {
	display: -webkit-flex;
	display: flex;
}
.screenshot{
	max-width: 460px;
}

.description{
	max-width: 705px;
	margin-left: 25px;
}

h1 {
	padding-top: 50px;
	background-color: teal;
	margin-bottom: 50px;
}